In [136]:
import pandas as pd 
import numpy as np
data = pd.read_csv('../data/movie_metadata.csv')
pd.set_option('display.max_columns', None)
data.shape

(5043, 28)

In [182]:
from matplotlib import pyplot as plt

In [137]:
data.columns.values.reshape(-1,1)

array([['color'],
       ['director_name'],
       ['num_critic_for_reviews'],
       ['duration'],
       ['director_facebook_likes'],
       ['actor_3_facebook_likes'],
       ['actor_2_name'],
       ['actor_1_facebook_likes'],
       ['gross'],
       ['genres'],
       ['actor_1_name'],
       ['movie_title'],
       ['num_voted_users'],
       ['cast_total_facebook_likes'],
       ['actor_3_name'],
       ['facenumber_in_poster'],
       ['plot_keywords'],
       ['movie_imdb_link'],
       ['num_user_for_reviews'],
       ['language'],
       ['country'],
       ['content_rating'],
       ['budget'],
       ['title_year'],
       ['actor_2_facebook_likes'],
       ['imdb_score'],
       ['aspect_ratio'],
       ['movie_facebook_likes']], dtype=object)

In [162]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5039 entries, 0 to 5042
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5039 non-null   object
 1   director_name              5039 non-null   object
 2   num_critic_for_reviews     4992 non-null   float64
 3   duration                   5025 non-null   float64
 4   director_facebook_likes    4936 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5029 non-null   object
 7   actor_1_facebook_likes     5033 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5039 non-null   object
 10  actor_1_name               5033 non-null   object
 11  movie_title                5039 non-null   object
 12  num_voted_users            5039 non-null   int64
 13  cast_total_facebook_likes  5039 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5026 non-null   float64
 16  plot_keywords              4888 non-null   object
 17  movie_imdb_link            5039 non-null   object
 18  num_user_for_reviews       5021 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5036 non-null   object
 21  budget                     4550 non-null   float64
 22  release_dage               4934 non-null   float64
 23  actor_2_facebook_likes     5029 non-null   float64
 24  imdb_score                 5039 non-null   float64
 25  aspect_ratio               4714 non-null   float64
 26  facebook_likes             5039 non-null   int64
dtypes: float64(13), int64(3), object(11)
memory usage: 1.1+ MB

In [161]:
# 总体级别的数据清理

In [138]:
# 删除不需要的列,专用单元格
data = data.drop('content_rating',axis=1)

In [149]:
# 保留有效值在18个以上的数据
data = data.dropna(thresh=18)

In [141]:
data.shape

(5039, 27)

In [142]:
# 检测电影脸书喜欢数是否存在特殊离群值
data[data['movie_facebook_likes']>200000]
data[data['movie_facebook_likes']<0]

Empty DataFrame
Columns: [color, director_name, num_critic_for_reviews, duration, director_facebook_likes, actor_3_facebook_likes, actor_2_name, actor_1_facebook_likes, gross, genres, actor_1_name, movie_title, num_voted_users, cast_total_facebook_likes, actor_3_name, facenumber_in_poster, plot_keywords, movie_imdb_link, num_user_for_reviews, language, country, budget, title_year, actor_2_facebook_likes, imdb_score, aspect_ratio, movie_facebook_likes]
Index: []

In [143]:
# 检查电影上映时间有无离群值
data[data['title_year']>2021]
data[data['title_year']<1930]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2734,Black and White,Fritz Lang,260.0,145.0,756.0,18.0,Gustav Fröhlich,136.0,26435.0,Drama|Sci-Fi,Brigitte Helm,Metropolis,111841,203,Rudolf Klein-Rogge,1.0,art deco|bible quote|dance|silent film|worker,http://www.imdb.com/title/tt0017136/?ref_=fn_t...,413.0,German,Germany,6000000.0,1927.0,23.0,8.3,1.33,12000
4664,Black and White,Georg Wilhelm Pabst,71.0,110.0,21.0,3.0,Francis Lederer,426.0,9950.0,Crime|Drama|Romance,Louise Brooks,Pandora's Box,7431,455,Fritz Kortner,1.0,escape|femme fatale|german expressionism|lust|...,http://www.imdb.com/title/tt0018737/?ref_=fn_t...,84.0,German,Germany,NaN,1929.0,20.0,8.0,1.33,926
4810,Black and White,D.W. Griffith,69.0,123.0,204.0,9.0,Mae Marsh,436.0,NaN,Drama|History|War,Lillian Gish,Intolerance: Love's Struggle Throughout the Ages,10718,481,Walter Long,1.0,huguenot|intolerance|medicis|protestant|wedding,http://www.imdb.com/title/tt0006864/?ref_=fn_t...,88.0,NaN,USA,385907.0,1916.0,22.0,8.0,1.33,691
4812,Black and White,Harry Beaumont,36.0,100.0,4.0,4.0,Bessie Love,77.0,2808000.0,Musical|Romance,Anita Page,The Broadway Melody,4546,109,Charles King,8.0,sibling rivalry|singer|sister act|whistling|wi...,http://www.imdb.com/title/tt0019729/?ref_=fn_t...,71.0,English,USA,379000.0,1929.0,28.0,6.3,1.37,167
4885,Black and White,King Vidor,48.0,151.0,54.0,6.0,Renée Adorée,81.0,NaN,Drama|Romance|War,John Gilbert,The Big Parade,4849,108,Claire Adams,0.0,chewing gum|climbing a tree|france|translation...,http://www.imdb.com/title/tt0015624/?ref_=fn_t...,45.0,NaN,USA,245000.0,1925.0,12.0,8.3,1.33,226
4958,Black and White,Harry F. Millarde,1.0,110.0,0.0,0.0,Johnnie Walker,2.0,3000000.0,Crime|Drama,Stephen Carr,Over the Hill to the Poorhouse,5,4,Mary Carr,1.0,family relationships|gang|idler|poorhouse|thief,http://www.imdb.com/title/tt0011549/?ref_=fn_t...,1.0,NaN,USA,100000.0,1920.0,2.0,4.8,1.33,0

In [144]:
# 检测电影预算有无离群值
data[data['budget']>10000000000]
data[data['budget']<0]

Empty DataFrame
Columns: [color, director_name, num_critic_for_reviews, duration, director_facebook_likes, actor_3_facebook_likes, actor_2_name, actor_1_facebook_likes, gross, genres, actor_1_name, movie_title, num_voted_users, cast_total_facebook_likes, actor_3_name, facenumber_in_poster, plot_keywords, movie_imdb_link, num_user_for_reviews, language, country, budget, title_year, actor_2_facebook_likes, imdb_score, aspect_ratio, movie_facebook_likes]
Index: []

In [151]:
data = data.rename(columns={'title_year':'release_dage','movie_facebook_likes':'facebook_likes'})

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,budget,release_dage,actor_2_facebook_likes,imdb_score,aspect_ratio,facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,1873,Polly Walker,1.0,alien|american civil war|male nipple|mars|prin...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,2283,Crystal Lowe,2.0,fraud|postal worker|prison|theft|trial,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,6.0,English,Canada,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,unknown_director_name,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,1753,Sam Underwood,1.0,cult|fbi|hideout|prison escape|serial killer,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,359.0,English,USA,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,0,David Chandler,0.0,NaN,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,3.0,English,USA,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,2386,Eliza Coupe,5.0,NaN,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,9.0,English,USA,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,My Date with Drew,4285,163,Jon Gunn,0.0,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,1100.0,2004.0,23.0,6.6,1.85,456

In [160]:
data.fillna(value={'director_name':'unknown_director_name'},inplace=True)

In [155]:
data.fillna(value={'actor_1_name':'unknown_acrot_1_name'},inplace=True)

In [164]:
# ------------------------------------------------------------------------------

In [157]:
# 分析目标1,列出使票房收入较高的一些主角
actor_1 = data[['actor_1_name','gross']]

In [159]:
actor_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5039 entries, 0 to 5042
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   actor_1_name  5033 non-null   object
 1   gross         4159 non-null   float64
dtypes: float64(1), object(1)
memory usage: 118.1+ KB

In [172]:
# 删除缺失值(其中有一个为缺失,则删除)
actor_1 = actor_1.dropna(how='any')
actor_1

         actor_1_name        gross
0         CCH Pounder  760505847.0
1         Johnny Depp  309404152.0
2     Christoph Waltz  200074175.0
3           Tom Hardy  448130642.0
5        Daryl Sabara   73058679.0
...               ...          ...
5034      Ian Gamazon      70071.0
5035  Carlos Gallardo    2040920.0
5037      Kerry Bishé       4584.0
5041        Alan Ruck      10443.0
5042      John August      85222.0

[4155 rows x 2 columns]

In [174]:
# 检测离群值
# 检查最大值
actor_1.max()

actor_1_name    Óscar Jaenada
gross             7.60506e+08
dtype: object

In [177]:
# 检查最小值
actor_1.min()
# 得出结论,数据无离群值

actor_1_name    50 Cent
gross               162
dtype: object

In [190]:
actor_1.index = np.arange(4155)

In [189]:
actor_1

         actor_1_name        gross
0         CCH Pounder  760505847.0
1         Johnny Depp  309404152.0
2     Christoph Waltz  200074175.0
3           Tom Hardy  448130642.0
4        Daryl Sabara   73058679.0
...               ...          ...
4150      Ian Gamazon      70071.0
4151  Carlos Gallardo    2040920.0
4152      Kerry Bishé       4584.0
4153        Alan Ruck      10443.0
4154      John August      85222.0

[4155 rows x 2 columns]

In [197]:
# 用名字分组,然后按照平均数排序,最后取前50个人,得到能使得票房比较稳定的前50个人的姓名及平均票房
actor_1.groupby('actor_1_name').mean().sort_values(by='gross',ascending=False).head(50)

                            gross
actor_1_name
Rupert Everett       4.364710e+08
Wayne Knight         3.567840e+08
Albert Finney        3.043603e+08
Steve Bastoni        2.814925e+08
Phaldut Sharma       2.740850e+08
Kathleen Freeman     2.676520e+08
Glenn Morshower      2.618489e+08
Catherine Dyer       2.559504e+08
John Ratzenberger    2.536131e+08
Tim Holmes           2.349031e+08
Robert Pattinson     2.301871e+08
Mei Melançon         2.261385e+08
Josh Gad             2.227013e+08
Henry Thomas         2.176646e+08
CCH Pounder          2.147882e+08
Verne Troyer         2.130792e+08
Aidan Turner         2.119076e+08
Peter Capaldi        2.023516e+08
Orlando Bloom        2.019288e+08
Hattie McDaniel      1.986553e+08
Alexander Gould      1.967662e+08
Denis Leary          1.959517e+08
Adriana Caselotti    1.849255e+08
Mary McDonnell       1.842088e+08
Karen Allen          1.826184e+08
Chris Hemsworth      1.819422e+08
Roy Scheider         1.814612e+08
Olivia Newton-John   1.813600e+08
Michael Gough        1.763342e+08
Judge Reinhold       1.729399e+08
Jennifer Lawrence    1.691326e+08
Matt Lucas           1.690767e+08
Giancarlo Giannini   1.683684e+08
Jill Hennessy        1.682136e+08
Eleanor Parker       1.632143e+08
Tim Conway           1.624958e+08
Bryce Dallas Howard  1.617471e+08
Aldis Hodge          1.610293e+08
Zack Ward            1.594871e+08
Laura-Leigh          1.503690e+08
Harold Ramis         1.487342e+08
Phoebe Cates         1.481700e+08
Eva Green            1.467945e+08
Will Smith           1.454009e+08
Rene Russo           1.447315e+08
Mahadeo Shivraj      1.426142e+08
Anil Kapoor          1.413192e+08
Heather Donahue      1.405301e+08
Tzi Ma               1.400808e+08
Tom Welling          1.386145e+08